{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% htmx_script %}
    <script src="{% static 'js/alpine.js' %}" defer></script>
    <title>Document</title>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <a href="{% url 'client-home' %}">Client</a>
    <a href="{% url 'server-home' %}">Server</a>

    {% block layout %}
    {% endblock %}
    
</body>
</html>